{% extends 'base.html' %}

{% block title %}Информация о регионе{% endblock %}

{% block context %}
            <div class="card black my-5 py-4 text-left">
                <div class="card-body">
                    <h3>{{name}}</h3>
                    <p>Регион:<br>
                    <b>{{object.region}}</b></p>
                    <p>ID hh.ru:<br>
                    <b>{{object.hh_region_id}}</b></p>
                    {% if user.is_authenticated %}
                    <a href="{% url 'djangohh:region_update' pk=object.pk %}">Изменить</a>
                    <br><br>
                    {% endif %}
                    <a href="{% url 'djangohh:region_list' %}" class="btn btn-secondary btn-sm">К списку регионов</a>
                </div>
            </div>
{% endblock %}
