{% extends 'base.html' %}

{% block title %}Регистрация{% endblock %}
{% block registeractive %} active{% endblock %}

{% block context %}
            <div class="card black my-5 py-4 text-center">
                <div class="card-body">
                    <form method="post" class="form-control">
                        <br>
                        {% csrf_token %}
                        {{form.as_p}}
                        <button type="submit" class="btn btn-secondary btn-sm">Зарегистрироваться</button>
                        <br><br>
                    </form>
                </div>
            </div>
{% endblock %}